<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <div th:fragment="footer">
        <div class="panel-footer text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <img src="/images/wechatPay.png" class="img-thumbnail" style="width:136px;" />
                    <u> 赞赏一下!</u>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <p>联系站长: </p>
                    <p>qq: 1070259395</p>
                    <p>微信: he1070259395</p>
                    <p>邮箱: 1070259395@qq.com</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>推荐网站: </p>
                    <p><a href="https://github.com/he2121/coder-talk">我的GitHUb</a></p>
                    <p><a href="https://leetcode.com">leetcode</a></p>
                    <p><a href="https://www.bootcss.com">bootstrap中文网</a> </p>
                </div>
            </div>

        </div>

    </div>

</body>
</html>