<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <div th:fragment="footer">
        <div class="panel-footer text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <img src="/images/wechatPay.png" class="img-thumbnail" style="width:136px;" />
                    <u> 赞赏一下!</u>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    world
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    shabi
                </div>
            </div>

        </div>

    </div>

</body>
</html>