<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ganghuan.mapper.UserMapper">


    <select id="selectById" resultType="User">
        select id, email, username, password, type, header_url, create_time
        from user
        where id = #{id}
    </select>

    <select id="selectByName" resultType="User">
        select id, email, username, password, type, header_url, create_time
        from user
        where username = #{username}
    </select>


    <select id="selectByEmail" resultType="User">
        select id, email, username, password, type, header_url, create_time
        from user
        where email = #{email}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (email, username, password, type, header_url, create_time)
        values(#{email},#{username}, #{password},  #{type}, #{headerUrl}, #{createTime})
    </insert>


    <update id="updateHeader">
        update user set header_url = #{headerUrl} where id = #{id}
    </update>

    <update id="updatePassword">
        update user set password = #{password} where id = #{id}
    </update>

</mapper>